@page
@model WebApplication1.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form>

    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" />

        <label for="inputCpf">CPF</label>
        <input type="text" class="form-control" id="inputCpf" placeholder="999999999-99" />

        <label for="inputDataNascimento">Data de Nascimento</label>
        <br />
        <input type="date" id="inputDataNascimento" />

        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" />

        <label for="inputPassword">Senha</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Senha" />

        <label>Cofirmação</label>
        <input type="password" id="confirmacao" class="form-control" />

        <label><input type="checkbox" />Lembrar de mim</label>
    </div>
    
    <button type="submit" class="btn btn-primary" >Entrar</button>
</form>
